:root {
  --primary: #FF6B6B;
  --secondary: #4ECDC4;
  --accent: #FFE66D;
  --neutral: #1A1A1A;
  
  --base-100: #2D2D2D;
  --base-200: #2a2a2a;
  --base-300: #333333;
  
  --info: #3ABFF8;
  --success: #36D399;
  --warning: #FBBD23;
  --error: #F87272;
} 